.backGround {
    background-image: url('/img/netflix-background.png');
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.backGround::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.762);
    z-index: 1;

}

.mainHeader {
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.logo {
    width: 160px;
    height: auto;
    margin-left: 120px;
}

.btnSelect {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.btnSelect > select {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff8e;
    color: #fff;
    padding: 8px 12px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 150px 20px;
    color: white;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.unlimited {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: -10px;
    padding: 10px;
}

.price {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.enterEmail {
    font-size: 18px;
    margin-bottom: 10px;
}

.emailForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 600px;
    height: 150px;
}

.emailInput {
    background-color: rgba(40, 38, 38, 0.9);
    padding: 20px;
    font-size: 16px;
    border: rgba(128, 128, 128, 0.511) solid 1px;
    max-width: 600px;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.emailInput:hover {
    color: #fff;
    
}

.getStartedButton {
    background-color: rgb(254, 18, 18);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    transition: background-color 0.2s ease;
}

.getStartedButton:hover {
    background-color: #d6040f;
}


.nuoma {
    display: flex;
    gap: 10px;
    
}

.nuoma > a {
    color: rgb(249, 85, 85);
    cursor: pointer;
    padding-right: 10px;
    text-decoration: none
}