.footer {
  width: 90%; 
  padding: 20px;
  background-color: #141414;
  color: #757575;
  font-size: 15px;
  position: relative;
  bottom: 0;
}

.footerTop {
  text-align: start;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 155px;
  color: #fff;
}

.emailForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 10px 0;
  padding: 0;
  
}

.emailInput {
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  background-color: rgba(40, 38, 38, 0.9);
  padding: 20px;
  font-size: 16px;
  border: rgba(128, 128, 128, 0.511) solid 1px;
  max-width: 750px;
  width: 100%;
  color: white;
  border-radius: 5px;
}

.getStartedButton {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 240px;
  white-space: nowrap;
}

.getStartedButton:hover {
  background-color: #f40612b2;
}

.footerContact {
  margin-top: 20px;
  margin-left: 30px;
  text-decoration: underline;
  cursor: pointer;
  color:#ffffffb3;
}

.footerLinks {
  display: grid;
  margin-left: 185px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerList a {
  color: #ffffffb3;
  text-decoration: underline;
  display: block;
  margin-bottom: 10px;
}

.footerList a:hover {
  text-decoration: underline;
}

.footerBottom {
  text-align: start;
  margin-top: 40px;
  margin-left: 180px;
}


.btnSelect {
  display: flex;
  align-items: center;
  margin-right: 100px;
}


.dropdownItem {
  background: transparent;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #2e8bc0;
}

.country {
  color: #ffffffb3;
  margin-top: 30px;
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .footerLinks {
    grid-template-columns: repeat(3, 1fr);
  }

  .languageButton {
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 900px) {
  .footerLinks {
    grid-template-columns: repeat(2, 1fr);
  }

  .emailForm {
    flex-direction: column;
    align-items: center;
  }

  .emailInput {
    width: 100%;
    max-width: none;
  }

  .getStartedButton {
    width: auto;
    margin-top: 10px;
    padding: 10px 20px;
  }

  .footerBottom {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footerLinks {
    grid-template-columns: 1fr;
  }

  .emailForm {
    flex-direction: column;
    align-items: center;
  }

  .emailInput {
    margin-bottom: 10px;
  }

  .getStartedButton {
    width: auto;
    margin-top: 10px;
    padding: 10px 20px;
  }

  .languageButton {
    width: 100%;
    margin-top: 10px;
  }

  .country {
    margin: 0;
  }
}

.languageSelect {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  margin-right: 100px;
  padding: 8px 12px;
  margin-right: 15px;
  border-radius: 5px;
}

.languageSelect > select {
  border: 1px solid #ffffff8e;
  color: #fff;
  padding: 8px 12px;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}


.languageSelect > option {
  border: 1px solid #ffffff8e;
  color: #fff;
  padding: 8px 12px;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;

}
.languageSelect > select {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff8e;
  color: #fff;
  padding: 8px 12px;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;

}
.languageButton {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #757575;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
